# IGNORE IMPLEMENTED FILES
list.d
list.o
wchan.d
wchan.o
test_g37.d
test_g37.o
_test_semaphore
_test_input
_test_barrier
test_semaphore.asm
test_input.asm
test_semaphore.sym
test_input.sym
test_barrier.sym
test_barrier.asm
input.d
input.o
semaphore.d
semaphore.o
*.o
*.d
settings.json
# =======================

bio.d
bio.o
bootasm.d
bootasm.o
bootblock
bootblock.asm
bootblock.o
bootblockother.o
bootmain.d
bootmain.o
console.d
console.o
entry.o
entryother
entryother.asm
entryother.d
entryother.o
exec.d
exec.o
file.d
file.o
fs.d
fs.o
ide.d
ide.o
initcode
initcode.asm
initcode.d
initcode.o
initcode.out
ioapic.d
ioapic.o
kalloc.d
kalloc.o
kbd.d
kbd.o
kernel
kernel.asm
kernel.sym
lapic.d
lapic.o
log.d
log.o
main.d
main.o
mp.d
mp.o
picirq.d
picirq.o
pipe.d
pipe.o
proc.d
proc.o
sleeplock.d
sleeplock.o
spinlock.d
spinlock.o
string.d
string.o
swtch.o
syscall.d
syscall.o
sysfile.d
sysfile.o
sysproc.d
sysproc.o
trap.d
trap.o
trapasm.o
uart.d
uart.o
vectors.S
vectors.o
vm.d
vm.o
xv6.img
xv6/_cat
xv6/_echo
xv6/_forktest
xv6/_grep
xv6/_init
xv6/_kill
xv6/_ln
xv6/_ls
xv6/_mkdir
xv6/_rm
xv6/_sh
xv6/_stressfs
xv6/_usertests
xv6/_wc
xv6/_zombie
xv6/cat.asm
xv6/cat.d
xv6/cat.o
xv6/cat.sym
xv6/echo.asm
xv6/echo.d
xv6/echo.o
xv6/echo.sym
xv6/forktest.asm
xv6/forktest.d
xv6/forktest.o
xv6/fs.img
xv6/grep.asm
xv6/grep.d
xv6/grep.o
xv6/grep.sym
xv6/init.asm
xv6/init.d
xv6/init.o
xv6/init.sym
xv6/kill.asm
xv6/kill.d
xv6/kill.o
xv6/kill.sym
xv6/ln.asm
xv6/ln.d
xv6/ln.o
xv6/ln.sym
xv6/ls.asm
xv6/ls.d
xv6/ls.o
xv6/ls.sym
xv6/mkdir.asm
xv6/mkdir.d
xv6/mkdir.o
xv6/mkdir.sym
xv6/mkfs
xv6/printf.d
xv6/printf.o
xv6/rm.asm
xv6/rm.d
xv6/rm.o
xv6/rm.sym
xv6/sh.asm
xv6/sh.d
xv6/sh.o
xv6/sh.sym
xv6/stressfs.asm
xv6/stressfs.d
xv6/stressfs.o
xv6/stressfs.sym
xv6/ulib.d
xv6/ulib.o
xv6/umalloc.d
xv6/umalloc.o
xv6/usertests.asm
xv6/usertests.d
xv6/usertests.o
xv6/usertests.sym
xv6/usys.o
xv6/wc.asm
xv6/wc.d
xv6/wc.o
xv6/wc.sym
xv6/zombie.asm
xv6/zombie.d
xv6/zombie.o
xv6/zombie.sym